:root{
    --branco:white;
    --cor-de-fundo:#00162e;
    --fundo-senha:#00244d;
    --fundo-texto:#001e40;
    --borda:#0075ff;
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}